<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">

</head>
<body class="index-body">
  
    <div class="container1">
       <b><h2 >Escuela Superior <br> Politénica de Chimborazo</h2></b> 
         <img src="assets/images/mecanica.png" width="40%" height="5%">
        <br>
        <button class="button1-index"  onclick="location.href='{{url_for('dashboard')}}'"> <i class="fa fa-home"></i>Iniciar</button>
    </div>
</body>
</html>